@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter&family=Josefin+Sans&family=Poppins&family=Ubuntu&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-content 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.menu-ele
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: black;
}

.ele 
{
    display: flex;
    gap: 30px;
    color: black;
    padding: 20px 20px;
}

.ele li 
{
    list-style-type: none;
    text-decoration: none;
}

.ele a
{
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1rem;
}

.ele a:hover
{
    color: #FFA800;
}

.intro  
{
    padding: 5em 0;
    margin: 0 3.5em;
}

.main-text
{
    color: #000;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sub-text
{
    margin: 0.5em 0 0 0;
    color: #000;
    text-align: left;
    font-family: Ubuntu;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sidebar
{
    display: flex;
    align-items: center;
    position: absolute;
    top: 10rem;
    right: 1rem;
    transform: rotate(90deg);
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;

}
.elp{
    padding: 1.3rem 0;
}
.elp >g >circle:nth-child(even) 
{   fill: red;
    animation: pop 2s ease !important;
}
@keyframes pop {

    50% {
      transform: scale(1.2);
    }
    /* 0%{
        transform: translateY(-5px);
        
    }
    100%{
       transform: translateY(0); */
    }
    
/* About Page  */

.ab-container, .edu-container, .exp-container
{
  width: 100%;
  padding: 2rem 2rem;
  text-align: justify;
}

.profile
{
    width: 20rem;
    height: 50vh;
    border: 10px solid #FFA800;
    margin: 2rem 2rem;
}

.ab-panel
{
    display: flex;
    gap: 15rem;
    text-align: justify;
    flex-wrap: no-wrap;
}

.self-text
{
    width: 100%; 
}

.personal-info 
{
    margin: 2rem 0;
}

.personal-info > div
{
    padding: 0.5rem 0;
}



.head
{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
}

.line
{
    width: 75.5rem;
    border: 2px solid black;  
}

.education-section
{
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .row
  {
    display: flex;
    font-family: 'Inter', sans-serif;
  }

  .side-by-side, .year
  {
    flex: 1;
    padding: 10px;
  }

  .year
  {
    color: #FFA800;
  }
 
.grade-info
{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    text-align: justify;
}
