@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter&family=Josefin+Sans&family=Poppins&family=Ubuntu&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* skills page css */

.skills
{
    padding: 4rem 3rem;
    margin: auto;
}

.skills h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

.content
{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 2rem 0;
}

.left
{
    width: 50%;
    font-family: 'Poppins', sans-serif;
}

.left h2{
    text-align: left;
    font-size: 2rem;
}

.left p{
    padding: 1rem 0;
    font-size: 0.9rem;
    text-align: justify;
}

.readmore-btn
{
    width: 35%;
    padding: 1rem 0;
    margin-top: 2rem;
    border: 3px solid #FFA800;
    border-radius: 5px;
    background-color: #FFA800;
}

.readmore-btn a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease;
}

.right
{
    flex: 1;
    margin-left: 30px;
    outline: 0;
}

.right .line{
    margin-bottom: 2rem;
}

.right .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right .info span{
    font-size: 1rem;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

.right .bars{
    background-color: lightgrey;
    height: 5px;
    width: 100%;
    position: relative;
}

.right .bars::before
{
    content: '';
    position: absolute;
    height: 100%;
    background-color: #FFA800;
}

.right .cpp::before
{
    width: 70%;
}

.right .html::before
{
    width: 90%;
}
.right .css::before
{
    width: 78%;
}

.right .react::before
{
    width: 80%;
}

.right .sql::before
{
    width: 92%;
}

.right .mongo::before
{
    width: 50%;
}

.right .uiux::before
{
    width: 85%;
}

.right .graphic::before
{
    width: 60%;
}


/* work page css */
.workbg
{
   width: 100%;
   height: auto;
   padding: 5rem 1rem 2rem 1rem;
   
}

.left-work-headline
{
    position: absolute;
    right: 0;
    width: 30rem;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
}

.dt-container
{
    padding-left: 1.5rem;
    margin-top: 15rem;
    font-family: 'poppins', sans-serif;
    width: 30rem;
}

.design-thinking-headline
{
    font-size: 2.5rem;
    font-weight: 400;
}

.subtext-1
{
    text-align: justify;
    font-size: 1rem;
    margin-top: 1rem;
}

.projects
{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 5rem 5rem;
    justify-content: center;
    align-items: center;
}
.cards
{
    width: 25rem;
    height: 15rem;
    background-color: #1E1E1E;
}

@media screen and (max-width: 990px)
{
    .profile-card
    {
        margin: auto;
        width: 50%;
        border: 10px solid #FFA800;
        padding: 10px;
    } 

    .ab-panel
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .dwn_cv
    {
        position: absolute; 
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 35%;
    }

    .dwn_cv:hover
    {
        background: transparent;
        color: #FFA800;
    }
}

@media screen and (max-width: 590px)
{
    .dwn_cv
    {
        position: absolute; 
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 50%;
    }

    .dwn_cv:hover
    {
        background: transparent;
        color: #FFA800;
    }

    .row{
        display: inline;
        text-align: left;
        margin-bottom: 2rem;
    }

    .institute-name
    {
        margin-top: 0;
    }
}
