@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter&family=Josefin+Sans&family=Poppins&family=Ubuntu&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-content 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);
    /* position: fixed;
    top: 0;
    width: 100%; */
}

.menu-ele
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: black;
}

.ele 
{
    display: flex;
    gap: 30px;
    color: black;
    padding: 20px 20px;
}

.ele li 
{
    list-style-type: none;
    text-decoration: none;
}

.ele a
{
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1rem;
}

.ele a:hover
{
    color: #FFA800;
}

.intro  
{
    padding: 5em 0;
    margin: 0 3.5em;
}

.main-text
{
    color: #000;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sub-text
{
    margin: 0.5em 0 0 0;
    color: #000;
    text-align: left;
    font-family: Ubuntu;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sidebar
{
    display: flex;
    align-items: center;
    position: absolute;
    top: 10rem;
    right: 1rem;
    transform: rotate(90deg);
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;

}
.elp{
    padding: 1.3rem 0;
}
.elp >g >circle:nth-child(even) 
{   fill: red;
    animation: pop 2s ease !important;
}
@keyframes pop {

    50% {
      transform: scale(1.2);
    }
    /* 0%{
        transform: translateY(-5px);
        
    }
    100%{
       transform: translateY(0); */
    }
    
/* About Page  */

.ab-container, .edu-container, .exp-container
{
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.profile
{
    width: 100%;
    max-width: 20rem;
    height: 50vh;
    border: 10px solid #FFA800;
    margin: 1rem 1rem;
}

.ab-panel
{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0;
}

.ek-k-niche-ek
{
    width: 50rem;
    text-align: justify;
    margin: 0 3rem;
}

.comma
{
    color: #FFA800;
    font-family: 'Ubuntu', sans-serif;
    font-size: 5rem;
    margin-left: -4rem;

}
.self-text
{
    width: 100%; 
}

.personal-info 
{
    margin: 2rem 0;
}

.personal-info > div
{
    padding: 0.5rem 0;
}

.dwn_cv
{

    border: #1c1b1b;
    border-radius: 5px;
    background-color: #1c1b1b;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    padding: 1rem 4rem;
    font-size: 1rem;
    cursor: pointer;
}

.dwn_cv:hover
{
    color: #FFA800;
}
.head
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 3rem;
    font-size: 1.5rem;
    width: 100%;
}

.line
{
    width: 90%;
    border: 1px solid rgb(98, 97, 97);  
}

.education-section, .experience-section
{
    padding: 50px;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .row
  {
    display: flex;
    font-family: 'Inter', sans-serif;
  }

  .side-by-side, .year
  {
    flex: 1;
    padding: 10px;
  }

  .year
  {
    color: #FFA800;
  }
 
.grade-info
{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    text-align: justify;
}


/* Skills section styling starts here */

.skill-set
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    padding: 0 2rem;
    font-family: 'Poppins', sans-serif;
}
.left
{
    position: relative;
    width: 18rem;
    height: 18vh;
    border: 1px solid #1E1E1E;
    border-radius: 0.625rem;
    background: rgba(30, 30, 30, 0.81);
}

.serial-no
{
    color: white;
    float: right;
    margin-right: 0.5rem;
    font-size: 2rem;
}

.skill-name
{
    position: absolute;
    top: 0;
    color: #FFA800;
    font-size: 1.3rem;
    margin: 1.5rem 0 0 2rem;
}

.desc
{
    width: 13rem;
    position: relative;
    color: whitesmoke;
    text-align: justify;
    font-size: 0.63rem;
    margin: 4rem 0 0 2rem;
}
.right
{
    display: flex;
    margin-right: 10rem;
    gap: 30px;
    font-weight: 800;
}

@media screen and (max-width: 990px)
{
    .profile
    {
        margin: auto;
        width: 50%;
        border: 10px solid #FFA800;
        padding: 10px;
    } 

    .ab-panel
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .dwn_cv
    {
       transform: translateX(80%);
    }

}