@use'variable';
// #ab-container {
//   width: 100%;
//   padding: 2rem 2rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   font-family: "poppins", sans-serif;

//   .ab-pagename {
//     font-family: "Josefin sans";
//     font-style: italic;
//     text-align: center;
//   }

//   .profile-card {
//     width: 100%;
//     max-width: 20rem;
//     height: 55vh;
//     border: 10px solid #ffa800;
//     margin: 4rem 2rem;
//   }

//   .ab-panel {
//     width: 100%;
//     display: flex;
//     // flex-wrap: wrap;
//     align-items: center;
//     justify-content: space-between;
//     margin: 4rem 0;
//   }
//   .ek-k-niche-ek {
//     width: 50rem;
//     text-align: justify;
//     margin: 0 3rem;
//   }
//   .comma {
//     color: #ffa800;
//     font-family: "Ubuntu", sans-serif;
//     font-size: 5rem;
//     margin-left: -4rem;
//   }
//   .self-text {
//     width: 100%;
//   }
//   .personal-info {
//     margin: 2rem 0;
//   }

//   .personal-info > div {
//     padding: 0.5rem 0;
//   }

//   .dwn_cv {
//     border: #1c1b1b;
//     border-radius: 5px;
//     background-color: #1e1e1e;
//     color: white;
//     font-family: "Poppins", sans-serif;
//     margin-top: 2rem;
//     padding: 1rem 4rem;
//     font-size: 1rem;
//     font-weight: 700;
//     cursor: pointer;
//   }

//   .dwn_cv:hover {
//     background: transparent;
//     border: 3px solid #ffa800;
//     color: #ffa800;
//   }
//   .head
// {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 10px;
//     margin-top: 3rem;
//     font-size: 1.5rem;
//     width: 100%;
// }

// .line
// {
//     width: 90%;
//     border: 1px solid rgb(98, 97, 97);  
// }

// .education-section, .experience-section
// {
//     padding: 50px;
//     margin-top: 1rem;
//     background-color: #fff;
//     border-radius: 5px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   }
// }

#about
{
  .pagename
  {
    text-align:center;
    font-family: 'Josefin sans', sans-serif;
    font-size: 2rem;
    margin-top: 2%;
    font-style: italic;
    font-weight: 700;
  }

  #flex-container
  {
    padding: 3% 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .card{
      width: 20%;
      height: 50vh;
      border: 10px solid hsl(40, 100%, 50%);
    }

    .about-content
    {
      width: 50%;
      .inv-comma{
        font-size: 4rem;
        font-family: 'poppins', sans-serif;
        color: #C1A6F9;
      }

      .intro
      {
        margin-left: 5%;
        font-family: 'inter';
        text-align: justify;
      }

      .prs-info{
        margin: 8% 0;
        div{
          padding: 0.5rem 0;
        }
      }

      .dwn-btn{
        width: 30%;
        min-width: 50%;
        text-align: center;
        border: 2px solid black;
        border-radius: 4px;
        background-color: black;
        color: #C1A6F9;
        padding: 2% 1%;
        margin: 0 5%;
        font-size: 0.8rem;
        cursor: pointer;
      }
      .dwn-btn:hover{
        border: 2.5px solid #C1A6F9;
        background-color: transparent;
      }

      
      
    }
  }
  
  // education section css
  #edu, #exp{
    padding: 3% 3%;
    width: 100%;
    font-family: 'poppins', sans-serif;
    
    .sec-name{
      font-size: 2rem;
    }

    .row{
      margin-top: 2%;
      display: flex;
      justify-content: space-between;
      font-family: 'poppins', sans-serif;

      .uni-name, .comp-name{
        color: black;
      }
      .year{
        font-size: 0.9rem;
        color: #ffa800;
      }
      .side-by-side{
        width: 35%;
        text-align: justify;

      .stream{
        color: #ffa800;
        font-size: 0.9rem;
      }
      .grade-info, .intern-info{
          margin-top: 2%;
        }
      }
    }
  }
}


