@use'variable';


#about
{
  width: 100%;
  .pagename
  {
    font-family: 'Josefin sans', sans-serif;
    font-size: 2rem;
    margin-top: 2%;
    font-style: italic;
    font-weight: 700;
  }
  
  #flex-container
  {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .card{
      width: 20%;
      height: 50vh;
      border: 10px solid hsl(40, 100%, 50%);
    }

    .about-content
    {
      width: 50%;
      .inv-comma{
        font-size: 4rem;
        font-family: 'poppins', sans-serif;
        color: #ffa800;
      }

      .intro
      {
        margin-left: 5%;
        font-family: 'poppins', sans-serif;
        text-align: justify;
      }

      .prs-info{
        margin: 8% 0;
        div{
          padding: 0.5rem 0;
        }
      }

      .dwn-btn{
        width: 30%;
        min-width: 50%;
        text-align: center;
        border: 2px solid black;
        border-radius: 4px;
        background-color: black;
        // color: #C1A6F9;
        color: #ffa800;
        padding: 2% 1%;
        margin: 0 5%;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
      }
      .dwn-btn:hover{
        border: 3px solid #ffa800;
        background-color: transparent;
      }

      
      
    }
  }
  
  #edu, #exp{

    width: 100%;
    font-family: 'poppins', sans-serif;

    .sec-name{
      font-size: 2rem;

      .hr-line{
        display: flex;
        position: absolute;
        width: 100%;
        border: 1.5px solid black;
      }
      }
    }


    .row{
      margin-top: 2%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-family: 'poppins', sans-serif;

      .uni-name, .comp-name{
        color: black;
      }
      .year{
        font-size: 0.9rem;
        color: #ffa800;
      }
      .side-by-side{
        width: 35%;
        text-align: justify;

      .stream{
        color: #ffa800;
        font-size: 0.9rem;
      }
      .grade-info, .intern-info{
          margin-top: 2%;
        }
      }
    }
  }



