@use'variable';


#about
{
  // background-color: #E2E2E2;
  width: 100%;
  .pagename
  {
    font-family: 'Josefin sans', sans-serif;
    font-size: 2rem;
    margin-top: 2%;
    font-style: italic;
    font-weight: 700;

  }
  
  #flex-container
  {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    
    .pfp-circle{
      position: absolute;
      top: 2;
      width: 18rem;
      height: 40vh;
      background-color: #cab6f2;
      border: 2px solid black;
      border-radius: 60%;
      z-index: 1;
    }
    
    .about-content
    {
      width: 50%;
      .inv-comma{
        font-size: 3.5rem;
        font-family: 'poppins', sans-serif;
        // color: #ffa800;
        color: #C1A6F9;
        z-index: 5;
      }
      
      .intro
      {
        margin-top: -3%;
        margin-left: 5%;
        font-family: 'poppins', sans-serif;
        text-align: justify;
      }

      .prs-info{
        margin: 8% 0;
        div{
          padding: 0.5rem 0;
        }

        .social{
          position: relative;
          ul{
            display: flex;
            margin-left: 3.5rem;
            margin-top: -4%;
            li{
              list-style: none;
              padding: 1%;
            }
          }
        }
      }

      .dwn-btn{
        width: 30%;
        min-width: 50%;
        text-align: center;
        border: 2px solid black;
        border-radius: 4px;
        background-color: rgb(34, 33, 33);
        color: #C1A6F9;
        // color: #ffa800;
        padding: 2% 1%;
        margin: 0 5%;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
      }
      .dwn-btn:hover{
        border: 3px solid #7152ad;
        background-color: transparent;
        color: #7152ad;
      } 
    }
  }

  #edu, #exp{
    
    .edu_container{
      background: rgb(128, 128, 128, 0.2);
      border-radius: 5px;
    }
    padding: 2%;
    width: 100%;
    font-family: 'poppins', sans-serif;

    .sec-name{
      font-size: 2rem;

      .hr-line{
        display: flex;
        position: absolute;
        width: 96%;
        border: 1.5px solid black;
      }
      }
    }


    .row{
      padding: 1%;
      margin-top: 2%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-family: 'poppins', sans-serif;

      .uni-name, .comp-name{
        color: black;
      }
      .year{
        font-size: 0.9rem;
        color: #C1A6F9;
      }
      .side-by-side{
        width: 35%;
        text-align: justify;

      .stream{
        // color: #ffa800;
        color: #947ec0;
        font-size: 0.9rem;
      }
      .grade-info, .intern-info{
          margin-top: 2%;
        }
      }
    }
  }



