@use 'variable';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Qwigley&family=Ubuntu&display=swap');
#inn-container{
    position: relative;
    padding: 0% 4%;
    .lhs{
        position: absolute;
        top: 15rem;
        font-family: 'Ubuntu', sans-serif;

        h1{
            font-size: 4rem;
            #text{
                font-weight: bold;
                color: green;
            }
            #cursor{
                color: red;    
            }
        }

        .quote{
            font-size: 1rem;
            font-weight: 100;
        }
    }

    .rhs{
        position: absolute;
        right: 2rem;

        img{
            margin-right: -3%;
        }
    }
}