@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
#home {
  .hero {
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
    .heading {
      font-size: 200%;
      font-family: "Ubuntu", sans-serif;
      padding-left: 10%;
    }
    .socials {
      padding-top: 1%;
      display: flex;
      justify-content: center;
      position: relative;
      font-family: "Ubuntu", sans-serif;
      font-size: 150%;
        transform: rotate(90deg);
    }
  }
  .dots{
    display:flex ;
    align-items: baseline;
    justify-content:start;
    margin-top: 3rem;
    flex-wrap: wrap;
    width: 99vw;
    height: 25rem;
    overflow-y: hidden;add
    .dot{
      margin: 1rem;
      background-color: black;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
  
}
