@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Qwigley&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 0;
  background-color: white;
  
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      
      .symbol{
        font-size: 50px;
        font-family: 'Qwigley', cursive;
      }

      h5{
          font-family: 'poppins', sans-serif;
          font-size: 0.6rem;
          font-weight: 500;
      }
    }

    .nav-item{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      ul{
        display: flex;
        list-style-type: none;

        a{
          text-decoration: none;
          color: black;
          font-weight: 590;

          .list{
            padding-inline: 0.8rem;
            font-size: 1rem;
            font-weight: 700;
            font-family: 'poppins', sans-serif;
            cursor: pointer;
           
          }    
        }      
      }
    }
  }
}

