@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Qwigley&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header{
border-bottom: 2px solid black;
position: sticky;
top: 0;
z-index: 50;

  .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    
    .logo{
      margin-left: 1rem;
    }

    nav{
      position: absolute;
      right: 5rem;

      ul{
        display: flex;
        gap: 30px;
        list-style: none;

        a{
          display: block;
          text-decoration: none;
          cursor: pointer;
          color: black;
          font-size: 1rem;
          font-weight: 600;
          font-family: 'poppins', sans-serif;
          line-height: 50px;

        }
      }
    }
  }
}