@use 'variable';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Qwigley&display=swap');

#skills{
    .pagename{
        font-family: "Josefin sans", sans-serif;
        font-size: 2rem;
        margin-top: 8%;
        font-style: italic;
        font-weight: 700;
    }

    .sk-container{
        margin-top: 3%;
        font-family: 'poppins', sans-serif;
        // position: absolute;
        // left: 0;
        padding-left: 1%;

        h1{
            font-size: 2rem;            
        }

        p{
            margin-top: 1%;
            width: 49%;
            text-align: justify;
        }

        
    }
    
}
