@use 'variable';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Qwigley&display=swap');

#skills{
    .pagename{
        font-family: "Josefin sans", sans-serif;
        font-size: 2rem;
        
        font-style: italic;
        font-weight: 700;
    }

    .container{
        display: flex;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 3rem;

        .sk-para1{
            max-width: 50%;

        }

        .sparkle-emoji{
            position: absolute;
            right: 10%;
            top: 25%;
        }
    }
    
}
